.icon-red {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: transform 0.3s ease;
}
.icon-red img {
    width: 40px
}
.icon-red-container {
    list-style: none;
}

.icon-red:hover {
    transform: scale(1.2);
}

.github {
    background-color: white ;
}